@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100vh;
  font-style: normal;
}

header,footer {
    display: grid;
    grid-template-rows: 25vh;
}

header {
    grid-area: header;
    background-image: url("../img/Logo\ tienda.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: 7%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color:#FCFACF;
    
  
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items:center;
}

aside {
    grid-area: aside;
    background-color:#33FFE1;
}

main {
    grid-area: main;
    background-color: black ;
    
}

footer {
    grid-area: footer;
    background-image: url(../img/Logo\ tienda.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#FCFACF;
}


.container-grid {
    display: grid;
    grid-template-columns: 20% auto auto;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "footer footer footer";
  
}


.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    margin-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: bold;

}

.nav-item {
   margin-top: 10%;
}

li:hover {
    color:#FCFACF; 
    font-weight: bold;
    cursor: pointer;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3,auto);
    background-color: #FCFACF;
    padding: 30px;
    column-gap: 20px;
    row-gap: 40px;
}


.grid-item {
    border: 2px solid #FCFACF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.item-img {
width: 200px;
height: 300px;
padding:2%;
margin-bottom: 2%;
border:solid 2px grey;

}

.btn {
    min-width: 130px;
    height: 40px;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: blue;
}

  .btn:hover {
    box-shadow: 0 3px #40cfff;
    top: 1px;
  }
  .btn:active {
    box-shadow: 0 0 #40cfff;
    top: 5px;
  }

  .text-card {
    padding-bottom: 2%;
    margin-bottom: 2%;
  }

  .icon-footer {
    padding-bottom: 10%;
    
  }

